body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif}a{color:#00B7FF}
*{
    padding: 0%;
    margin: 0;
}
.header{
    text-align: center;
    background-color: #00B7FF;
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}