extends layout

block content
   .header
    h1 Toutes nos gares
   .main
    form(id="addGare" action="/api", method="post")
      input(type="text" name="nom" placeholder="nom")
      input(type="text" name="theme" placeholder="theme")
      input(type="text" name="idexterne" placeholder="idexterne")
      input(type="text" name="soustheme" placeholder="soustheme")
      input(type="int" name="identifiant" placeholder="identifiant")
      input(type="submit" value="Inserer")
    

    ul
    .content
      each gare in gares
        .gares
          li
            a #{gare.nom} 
          input(type="button" class=".delete" data-id="#{ gare._id }" value="Supprimer")
          input(type="button" class=".update" data-id="#{ gare._id }" value="Mettre à jour") 
   .footer
  
